@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 61.458vw;
    min-width: 61.458vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.167vw;
    font-family: 'Noto Sans KR', sans-serif;
    /* border-bottom: 1px solid #fff; */
}

header .logo {
    font-weight: 400;
    font-size: 1.042vw;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.917vw;
}

header .nav li a {
    font-weight: 400;
    font-size: 0.833vw;
}

.headercon{
    position: relative;
}

.navitem2, .navitem3, .navitem4{
    transition: all 0.2s ease;
}

.navitem4, .navitem2, .navitem3{
    color: #999;
}

.navitem1{
    color: #151515;
}

.drop{
    position: absolute;
    left: 45.313vw;
    top: 3.333vw;
    z-index: 10;

    font-weight: 400;
    font-size: 0.833vw;
    width: 6.875vw;
    height: 3.750vw;
    border-radius: 0.208vw;
    padding-left: 0.625vw;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #D5D5D5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.417vw;
    opacity: 0;
}

.opacity{
    opacity: 1;
}

.main {
    position: relative;
}

.main h1 {
    font-weight: normal;
    font-size: 6.250vw;
    line-height: 7.396vw;
    font-family: 'Playfair Display', serif;
    letter-spacing: -0.01em;
    color: #333333;
    position: absolute;
    z-index: 10;
}

.main h1:first-child {
    top: 10.729vw;
}

.main h1:nth-child(2) {
    top: 17.188vw;
    left: 25.417vw;
}

.swiper-design .main p {
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 180%;
    color: #6F6F6F;
    width: 25vw;
    position: absolute;
    top: 25.104vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.swiper-design .main .img2 {
    width: 31.771vw;
    position: absolute;
    right: 0;
}

.swiper-design .main .img1 {
    width: 14.583vw;
    position: absolute;
    top: 2.396vw;
    left: 10.417vw;
}

.swiper-introduce .main p {
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 180%;
    color: #6F6F6F;
    width: 9.375vw;
    position: absolute;
    top: 32.708vw;
    left: 14.688vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.swiper-introduce .main .img2 {
    width: 31.771vw;
    position: absolute;
    right: 0;
}

.swiper-introduce .main .img1 {
    width: 19.792vw;
    position: absolute;
    top: 2.188vw;
    left: 7.813vw;
}

.swiper-pagination {
    position: absolute;
    left: 4.167vw;
    top: 40vh;
    z-index: 20;
    font-family: 'Noto Sans KR', sans-serif;
}

.swiper-pagination h2 {
    font-weight: 400;
    font-size: 1.042vw;
    letter-spacing: 0.08em;
    color: #333333;
    margin-bottom: 2.396vw;
}

.swiper-pagination p {
    font-weight: 400;
    font-size: 0.833vw;
    letter-spacing: 0.08em;
    margin-bottom: 0.417vw;
    color: #999;

    transition: all 0.3s ease-in-out;
}

.swiper-pagination p span {
    color: #333;

    transition: all 0.3s ease-in-out;
}

.swiper-pagination div {
    height: 0.625vw;
    width: 0.625vw;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1.042vw;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.swiper-pagination .first {
    background-color: #333;
}

.swiper-pagination .second {
    background-color: #CECECE;
}