@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #191D18;
            width: 100vw;
            height: 100vh;

            position: relative;
            overflow: hidden;
        }

        .container {
            max-width: 61.458vw;
            min-width: 61.458vw;
            margin: 0 auto;

        }

        a {
            text-decoration: none;
            color: inherit;
        }

        ul {
            list-style: none;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 4.167vw;
            color: #fff;
            font-family: 'Noto Sans KR', sans-serif;
            /* border-bottom: 1px solid #fff; */
        }

        header .logo {
            font-weight: 400;
            font-size: 1.042vw;
        }

        header .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2.917vw;
        }

        header .nav li a {
            font-weight: 400;
            font-size: 0.833vw;
        }

        .headercon{
            position: relative;
        }

        .navitem2, .navitem3, .navitem4{
            transition: all 0.2s ease;
        }

        .drop{
            position: absolute;
            left: 45.313vw;
            top: 3.333vw;

            font-weight: 400;
            font-size: 0.833vw;
            width: 6.875vw;
            height: 3.750vw;
            border-radius: 0.208vw;
            padding-left: 0.625vw;
            background-color: #fff;
            border: 1px solid #D5D5D5;
            font-family: 'Noto Sans KR', sans-serif;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.417vw;
            opacity: 0;
        }

        .opacity{
            opacity: 1;
        }

        .contents {
            position: relative;
            color: #fff;
            margin-top: 3.750vw;
        }

        .contents h1 {
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            font-size: 6.188vw;
            line-height: 8.333vw;
            letter-spacing: -0.01em;
        }

        .contents .pro {
            position: absolute;
            left: 25.260vw;
            top: 18.125vw;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            font-size: 6.250vw;
            line-height: 8.333vw;
            letter-spacing: -0.01em;
        }

        .contents .ui {
            position: absolute;
            left: 16.302vw;
            top: 27.188vw;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            font-size: 6.250vw;
            line-height: 8.333vw;
            letter-spacing: -0.01em;
        }

        .line{
            width: 0%;
            border-bottom: 0.15vw solid white;
            /* margin-top: 8px; */

            transition: width 0.4s ease;
        }

        .works:hover .line{
            width: 100%;
        }

        .contents .arrow1 {
            position: absolute;
            left: 16.302vw;
            top: 20.469vw;
        }

        .arrow1 img{
            width: 6.256vw;
        }

        .arrow2 img{
            width: 3.6vw;
        }

        .contents .arrow2 {
            position: absolute;
            left: 37.917vw;
            top: 28.698vw;
        }

        .contents p {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .contents .info1 {
            margin-top: 3.2vw;
            font-weight: 400;
            font-size: 1.042vw;
            line-height: 180%;
        }

        .university{
            font-weight: 700;
            font-size: 1.458vw;
            line-height: 180%;
        }

        .contents .info2 {
            margin-top: 3vw;
            font-weight: 400;
            font-size: 0.833vw;
            line-height: 180%;
        }

        .circle{
            position: absolute;
            width: 41.563vw;
            height: 41.563vw;
            left: 69.323vw;
            top: 33.021vw;

            border: 4.115vw solid #FFFFFF;
            border-radius: 100%;
            box-sizing: border-box;

            /* animation: ani 2s linear infinite alternate; */
        }

        .circle1{
            position: absolute;
            width: 41.563vw;
            height: 41.563vw;
            left: 69.323vw;
            top: 33.021vw;

            border: 4.115vw solid #FFFFFF;
            border-radius: 100%;
            box-sizing: border-box;
            filter: blur(1.615vw);

            /* animation: blink 2s linear infinite alternate; */
        }

        /* @keyframes ani{
            0%{
                filter: blur(0vw);
            }

            100%{
                filter: blur(1.615vw);
            }
        } */

        @keyframes ani{
            78% {
                border-color: inherit;
                text-shadow: inherit;
            }
            79%{
                border-color: #191D18;
            }
            80% {
                
                text-shadow: none;
            }
            81% {
                border-color: inherit;
                text-shadow: inherit;
            }
            82% {
                border-color: #191D18;
                text-shadow: none;
            }
            83% {
                border-color: inherit;
                text-shadow: inherit;
            }
            92% {
                border-color: #191D18;
                text-shadow: none;
            }
            92.5% {
                border-color: inherit;
                text-shadow: inherit;
            }
        }

        /* @keyframes blink {
            78% {
                color: inherit;
                filter: inherit;
            }
            79%{
                color: #333;
            }
            80% {
                
                filter: none;
            }
            81% {
                color: inherit;
                filter: inherit;
            }
            82% {
                color: #333;
                filter: none;
            }
            83% {
                color: inherit;
                filter: inherit;
            }
            92% {
                color: #333;
                filter: none;
            }
            92.5% {
                color: inherit;
                filter: inherit;
            }
        } */

        @keyframes blink {
            20%,
            24%,
            55% {
                border-color: #191D18;
                filter: none;
            }

            0%,
            19%,
            21%,
            23%,
            25%,
            54%,
            56%,
            100% {
            /*     color: #fccaff;
                text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
                0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
            /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
                color: #fff6a9; */
            }
        }